<div ng-controller="HomeCtrl">
    <page-title title="'Home'" sub-title="'Dashboard and navigation'">
    </page-title>
    <div class="wrapper-md">
        <div class="col-md-5">
            <div class="col-md-6">
                <dashboard-panel value="521" title="'New Items'" value-class="'text-info'"
                                 title-class="'text-muted'"></dashboard-panel>
            </div>
            <div class="col-md-6">
                <dashboard-panel
                    value="930"
                    title="'Uploads'"
                    background-class="'bg-primary'"
                    title-class="'text-muted'">
                </dashboard-panel>
            </div>
            <div class="col-md-6">
                <dashboard-panel value="432" title="'Comments'"
                                 title-class="'text-muted'" background-class="'bg-info'"></dashboard-panel>
            </div>
            <div class="col-md-6">
                <dashboard-panel value="129" title="'Feeds'" value-class="'text-info'"
                                 title-class="'text-muted'"></dashboard-panel>
            </div>
        </div>
    </div>
</div>
