<div ng-controller="StructuremasterCtrl">
    <page-title title="'Manage Structures'"
                sub-title="'Structures define data groups in your applications, such as companies, worksites etc'"></page-title>

    <div class="wrapper-md">
        <h3>Current Structure: {{structure.name}}<button class="btn btn-info pull-right btn-xs" ng-click="reset()">Reset</button></h3>
        <div class="list-group list-group-lg list-group-sp">
            <a herf="" class="list-group-item clearfix" ng-repeat="child in structure.children"
               ng-click="setStructure(child)">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a4.jpg" alt="...">
                <i class="on b-white right"></i>
              </span>
              <span class="clear">
                <span>{{child.name}}</span>
                <!--<small class="text-muted clear text-ellipsis">What's up, buddy</small>-->
              </span>
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                <!--<button class="btn btn-info pull-right btn-xs" ng-click="reset()">Reset</button>-->
                Add Structure
            </div>
            <form class="form-inline panel-body">
                <div class="form-group">
                    <input type="text" ng-model="new.name" class="form-control"/>
                </div>
                <div class="form-group">
                    <button ng-click="add()" class="btn btn-primary">Add sub structure</button>
                </div>
            </form>
        </div>
    </div>
</div>
